.data-mask-figure img {
  background-color: #fff;
}
.data-fs10vw h1 {
  font-size: 10vw;
  font-weight: 800 !important;
}
.data-fs5vw h1 {
  font-size: 5vw;
  font-weight: 800 !important;
}
.data-fs4vw h1 {
  font-size: 4vw;
  font-weight: 800 !important;
}
#data-container {
  color: #fff;
}
.magic {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
}
.logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 30px;
}
.data-mask-figure img {
  max-width: 70vw;
  max-height: 70vw;
  margin: auto;
}